{
    "endpoint": "http://localhost:3000/v1",
    "account": "dev_acc_C2UEdufU",
    "env": "dev_env_XGuD1WxUs",
    "version": "10",
    "team": "1",
    "clientId": "8aa0303c-2f8b-4406-90f1-c67cf887c874",
    "secret": "cb71db2e-127a-4447-aadb-a5e8a0bc47b2"
}