:root {
  --ff-brand-font-sans-serif: 'Proxima Nova', 'Helvetica', sans-serif;

  --color-electric-800: #3b2fc9;
  --color-electric-700: #4c48ef;
  --color-pigeon-900: #303744;
  --color-pigeon-800: #404857;
  --color-pigeon-700: #616a7d;
  --color-pigeon-600: #8b93a4;
  --color-pigeon-500: #b4bccc;
  --color-pigeon-400: #cad0dc;
  --color-pigeon-300: #d7dee8;
  --color-pigeon-200: #e8edf4;
  --color-pigeon-100: #f6f8fc;
  --color-pigeon-primary: var(--color-pigeon-800);
  --ff-text-color: var(--color-pigeon-primary);
  --ff-text-font: var(--ff-brand-font-sans-serif);
  --ff-primary-color: #4c48ef;
  --ff-secondary-color: #616a7d;
  --ff-dialog-border-radius: 4px;
  --ff-border-radius: 5px;
  --ff-bg-fade: rgba(0, 0, 0, 0.2);
  --size-base: 15px;
}

@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova'),
    url('../fonts/proxima-nova/Proxima-Nova_Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: local('Proxima Nova'),
    url('../fonts/proxima-nova/Proxima-Nova_Semibold.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.flatfile_iframe-wrapper {
  box-sizing: border-box;
  color: var(--ff-text-color);
  font-family: var(--ff-text-font);
  font-size: var(--size-base);
  line-height: 1.5;
  margin: 0;
  transition: opacity 0.25s ease-in-out;
}
.flatfile_iframe-wrapper.flatfile_displayAsModal {
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
}
.flatfile-close-button svg {
  fill: lightgray;
  width: 10px;
}
.flatfile-close-button {
  position: relative;
  top: 20px;
  right: -20px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  background: rgb(29, 31, 74);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.25s ease-in-out;

  &:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
  }
}
.flatfile_button-group {
  display: flex;
  justify-content: flex-end;

  > div,
  > button {
    align-items: center;
    appearance: button;
    border-radius: 2px;
    column-gap: 8px;
    cursor: pointer;
    display: flex;
    font-size: 13.3333px;
    font-weight: 400;
    justify-content: center;
    letter-spacing: normal;
    line-height: normal;
    margin-left: 15px;
    padding: 8px 12px;
    row-gap: 8px;
    tab-size: 4;
    text-align: center;
    transition: background-color 0.2s ease 0s;
    word-spacing: 0px;
    border: none;
    -webkit-box-align: center;
    -webkit-box-pack: center;
  }
  > div > div {
    cursor: pointer;
    display: block;
    font-family: var(--text-font);
    font-feature-settings: normal;
    font-size: 14px;
    font-weight: 600;
    height: 24px;
    letter-spacing: 0.14px;
    line-height: 24px;
    margin: 0 8px;
    tab-size: 4;
    text-align: center;
  }
}
.flatfile_primary {
  background-color: var(--color-electric-700, #4c48ef);
  color: #fff;

  &:hover {
    background-color: var(--color-electric-800, #3b2fc9);
  }
}
.flatfile_secondary {
  border: 1px solid var(--color-pigeon-300, #d7dee8);
  color: var(--ff-text-color, #404857);

  &:hover {
    background-color: var(--color-pigeon-200, #e8edf4);
  }
}
.flatfile_modal-text {
  display: flex;
  flex-direction: column;
  gap: 1.75em;

  font-size: 14px;
  line-height: 1.25em;
  margin-bottom: 2em;
  color: var(--color-pigeon-600);
}
.flatfile_modal-heading {
  font-size: 1.225em;
  font-weight: 600;
  margin-bottom: 0.4em;
  color: var(--ff-text-color);
}
.flatfile_inner-shell {
  box-sizing: border-box;
  display: block;
  padding: 1.5em;
  tab-size: 4;
  text-align: left;
  background: #fff;
  min-width: 500px;
  max-width: 500px;
}
.flatfile_close-confirm-modal-inner {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 100%;
  padding: 0px;
  tab-size: 4;
  text-align: left;
}
.flatfile_outer-shell {
  background-color: rgba(64, 72, 87, 0.2);
  box-sizing: border-box;
  display: block;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: absolute;
  tab-size: 4;
  top: 0;
  width: 100%;
  z-index: 1200;
}
.ff_error_container {
  display: flex;
  flex-direction: column;
  margin: 16px;
}
.ff_error_heading {
  display: flex;
  margin-bottom: 0;
}
.ff_spinner {
  border: 4px solid rgba(255, 255, 255, 0.7);
  border-top: 4px solid var(--ff-primary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
