:root {
  --ff-primary-color: #4c48ef;
  --ff-secondary-color: #616a7d;
  --ff-text-color: #090b2b;
  --ff-dialog-border-radius: 4px;
  --ff-border-radius: 5px;
  --ff-bg-fade: rgba(0, 0, 0, 0.2);
  --color-pigeon-800: #404857;
  --brand-font-sans-serif: 'Proxima Nova', 'Helvetica', sans-serif;
}

.flatfile_iframe-wrapper {
  background-color: #ffffff;
  color: var(--color-pigeon-800);
  font-family: var(--brand-font-sans-serif);
  font-size: 15px;
  line-height: 1.5;
}

